services:
  backend:
    build: ./backend
    ports:
      - "5000:5000"
    networks:
      - mynetwork
  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    networks:
      - mynetwork
  nginx:
    build: ./nginx
    ports:
      - "2294:80"
    depends_on:
      - frontend
      - backend
    networks:
      - mynetwork
networks:
  mynetwork:
